.App {
  font-family: sans-serif;
  text-align: center;
}
p {
  margin: 0;
  margin-bottom: 4px;
}
input {
  padding: 8px;
  border-radius: 8px;
}
button {
  margin: auto;
  display: block;
  margin-top: 28px;
  margin-bottom: 40px;
  padding: 8px 12px;
  font-size: 18px;
  background: green;
  color: white;
  border-radius: 12px;
  cursor: pointer;
}
